body {
    font-family: 'Tahoma', Verdana;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: lightgoldenrodyellow;
    color: red;
    padding: 10px;
    text-align: center;
}

header img {
    margin-right: 10px; 
}

.img_deg
{
float: left;
width: 30%
}

.pos_cen
{
    position:absolute
    width: 50%
    left: 15%
    top: 20%
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 35px;
}

a {
    color: red;
    text-decoration: none;
}

section {
    padding: 45px;
}

#home {
    
  background-color: yellow; 
  height: 500px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

#books {
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

.book img {
    width: 100%;
    border-radius: 5px;
}

#services ul {
    list-style-type: none;
    padding: 0;
}

#services li {
    margin-bottom: 10px;
}

form {
    display: grid;
    grid-gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}
